@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #333;
}

.header, .hero {
    background: #1f2937;
    color: #f5f5f5;
}

.header {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 8px;
}

.hero {
    height: 400px;
}

.info {
    margin: 20px 0;
}

.info-header {
    text-align: center;
    color: #f5f5f5;
    margin: 20px;
}

.info-images {
    margin: auto;
    width: 35rem;
    display: flex;
    justify-content: space-between;
}

.framework-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 30%;
}