@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #333;
}

.header, .hero, .quote {
    background: #756f92;
    color: #f5f5f5;
}

.header {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 8px;
}

.hero, .quote {
    height: 400px;
    display: flex;    
}

.hero-content, .quote-content {
    align-items: center;
    display: flex;
}

.hero-title {
    width: 40vw;
}

.hero-btn {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
    background-color: #eea300;
}

.hero-btn:hover {
    background-color: #f5f5f5;
    color: #eea300;
}

.hero-img {
    width: 40vw;
}

.hero-image {
    max-height: 350px;
    border-radius: 10px;
}

.info, .signup {
    margin: 20px 0;
}

.info-header {
    text-align: center;
    color: #f5f5f5;
    margin: 20px;
}

.info-images {
    margin: auto;
    width: 35rem;
    display: flex;
    justify-content: space-between;
}

.framework-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 30%;
}

.quote-text {
    font-style: italic;
    font-weight: normal;
    font-size: 35px;
}

.quote-ref {
    margin: 15px 50px;
    font-weight: bold;
    font-size: 18px;
    color: #eea300;
}

.signup {
    /* justify-content: space-between; */
}

.signup-content {
    background-color: #eea300;
    height: 100px;
    width: 60vw;
    border-radius: 5px;
    margin: 50px auto;
    display: flex;
    padding: 25px 75px;
}

.signup-btn {
    background-color: #eea300;
    border-color: #f5f5f5;
    border: solid 3px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.signup-btn:hover {
    color: #eea300;
    background-color: #f5f5f5;
    border-color: #eea300;
}

.signup-title {
    color: #f5f5f5;
    width: 50%;
}

footer {
    padding: 50px;
    height: 30px;
    color: #f5f5f5;
    display: flex;
    background-color: #756f92;
}